/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
  max-height: 250px;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

.header img {
  width: 200px;
}

.footer {
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 100px;
}

.header span,
.footer span {
  font-size: 1.5em;
  font-weight: bold;
}

.avatar img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
  transform: scale(1.1);
}


/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */

/* ################### */
/* DEBUT CODE Alexandre */
/* ################### */

.avatar img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.avatar:hover img {
  transform: scale(1.1);
}

/* ################# */
/* FIN CODE Alexandre */
/* ################# */

/* DEBUT CODE Ismael */

.cardIsma {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border: 10px solid red;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

/* FIN CODE Ismael */
/* ################### */


/* ################### */
/* DEBUT CODE DAVID */
/* ################### */

#david {
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  border: 1px solid rgb(58, 97, 226);
  background: linear-gradient(rgb(255, 255, 255), rgb(207, 207, 207));
  border-radius: 25% 10%;
  box-shadow: 1px 1px 3px #2886dd;
  border-top: 10px solid rgb(1, 24, 68);
  max-height: 250px;
  padding: 10px;
  margin: 40px;
}

#david .avatar img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#david .avatar:hover img {
  transform: scale(1.1);
}

/* ################### */
/* DEBUT CODE DAVID */
/* ################### */

/* ################### */
/* DEBUT CODE Yvan */
/* ################### */


.cardYvan {
  width: 350px;
  border: 1px solid gray (51, 0, 255);
  box-shadow: 1px 1px 3px #ff028d;
  border-top: 10px solid greenyellow;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

/* ################### */
/* FIN CODE Yvan */
/* ################### */

/* ################### */
/* DEBUT CODE Melyne*/
/* ################### */

#Melyne {
  width: 350px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px #de05f1;
  border-top: 10px solid rgb(0, 2, 128);
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

/* ################# */
/* FIN CODE Melyne*/
/* ################# */



/* ################### */
/* DEBUT CODE LIAM */
/* ################### */

.cardliam {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid blue;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
  background-image: url(assets/guts.png);
  background-size: 100%;
}


/* ################### */
/* DEBUT CODE LEA*/
/* ################### */

.cardlea {
  border: solid 1px rgb(91, 86, 86);
  border-top: solid 10px rgb(243, 114, 114);
  width: 350px;
  margin: 50px;
  box-shadow: #888;
  padding: 20px;
  min-height: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-style: oblique;
  border-radius: 40px;
}

/* ################# */
/* FIN CODE LEA */
/* ################# */

/* ################# */
/* DEBUT CODE MATTHIEU */
/* ################# */
@keyframes rotating {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.avatarmath img {
  animation-duration: 0.5s;
  animation-name: rotating;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#mathieu {
  text-shadow: #5EE8FF 0 -2px 0,
    #0097BA 2px 2px 0,
    #00748F 4px 4px 0,
    #006178 6px 6px 0.5px,
    #333333 8px 11px 10px;
  color: #00CFFF;
  background: linear-gradient(90deg, #8360c3, #2ebf91);
  border-radius: 60px 0px;
  border-top: 10px solid rgb(8, 3, 104);

}

#mathieu:hover {
  animation-duration: 0.5s;
  animation-name: tilt;
  animation-iteration-count: 1;
  box-shadow: 10px 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  rotate: 5deg;
  transition: 1s;

}
/* ################# */
/* FIN CODE MATTHIEU */
/* ################# */

/* ################# */
/* DEBUT CODE ORLANE */
/* ################# */

#KOGEY {
  font-family: cursive;
  width: 350px;
  border: 1px solid rgb(58, 226, 134);
  border-radius: 10%;
  box-shadow: 1px 1px 3px #cf1212;
  border-top: 10px solid rgb(4, 219, 137);
  background-color:#d400ff;
  transition: transform 0.3s ease;
}

#KOGEY:hover {
  transform: scale(1.1);
}

/* ################# */
/* FIN CODE ORLANE */
/* ################# */

/* ################# */
/* DEBUT CODE YACINE */
/* ################# */

#KOGEY {
  font-family: cursive;
  width: 350px;
  border: 1px solid rgb(58, 226, 134);
  border-radius: 10%;
  box-shadow: 1px 1px 3px #cf1212;
  border-top: 10px solid rgb(4, 219, 137);
  background-color:#00CFFF;
  transition: transform 0.3s ease;
}

#KOGEY:hover {
  transform: scale(1.1);
}

/* ################# */
/* FIN CODE YACINE */
/* ################# */

/* ################# */
/* DEBUT CODE Evgeni */
/* ################# */
.ecard {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid #3456;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

/* ################# */
/* FIN CODE Evgeni */
/* ################# */

/* ################# */
/* DEBUT CODE Soslan */
/* ################# */

.article-card {
  border: 5px solid purple;
  width: 350px;
  min-height: 250px;
  margin: 40px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.article-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#soslan img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .nomso,
.article-card .title {
  margin: 0;
}

.article-card .nomso {
  font-size: 12px;
  color: black(255, 255, 255, 0.9);
  margin-bottom: 4px;
}

.article-card .title {
  font-size: 17px;
  color: white;
}

/* ################# */
/* FIN CODE Soslan */
/* ################# */

/* ################# */
/* DEBUT CODE Xenophylius */
/* ################# */
.ecardXenophylius {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid #3456;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

#xenophylius {
  border: 5px solid black;
  box-shadow: 10px 5px 5px black;
  border-radius: 15px; 
}

/* ################# */
/* FIN CODE Xenophylius */

/* ################# */
/* DEBUT CODE Hamza */
/* ################# */


.hamza-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: #8360c3 solid 1px;
}


.hamza-card h1{
  margin: 0;
}


/* ################# */
/* FIN CODE Hamza */
/* ################# */


/* ################# */
/* DEBUT CODE Adam */
/* ################# */


.adam {
  background-color: rgb(47, 47, 104);
  color: #ffe;
}
.adam img{
  float: left;
  border: 3px solid #ffe;
  box-shadow: 0 0 20px #000;
}
.adam .nom{
  font-size: 40px;
  margin: 20px 0 100px 20px;
  border-bottom: 3px solid #ffe;
}
.adam .desc{
  clear: both;
  margin: 0 10px;
  font-size: 18px;
}

/* ################# */
/* FIN CODE Adam */
/* ################# */
/* DEBUT CODE Jorge */
/* ################# */


.jorge-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: #0d0320 solid 15px;
}


.jorge-card h1{
  margin: 0;

}


/* ################# */
/* FIN CODE Jorge */
/* ################# */


/* DEBUT CODE Willy */
/* ################# */

.cardWilly{
  border: 2px solid red;

}

/* ################# */
/* FIN CODE Willy */
/* ################# */

/* ################# */
/* DEBUT CODE Rabeh*/
/* ################# */


.rabehcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: #8360c3 solid 1px;
}


.hamza-card h1{
  margin: 0;
}


/* ################# */
/* FIN CODE Rabeh */
/* ################# */