

/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card{

    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid purple;
    min-height: 250px;
    padding: 10px;
    margin: 40px;
}

img {
    border-radius: 50%;
    width: 70px;
    margin: 10px;
}

h1 {
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -30px;
}

p {
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}

/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */

#Audrene {
    background: radial-gradient(circle at bottom right, rgb(67, 69, 163), rgb(87, 87, 109) 0, rgb(255, 255, 255) 100%)
}

.mon-container > h1 {
    text-align: right;
    font-style: italic;
    color: rebeccapurple;
}

.mon-container > P {
    text-align: center;
}

#Audrene > img {
    width: 200px;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 5px 5px 2px rgba(70, 3, 3, 0.555);
}

/* Fini to shine */

/* Début code Olivier */
.card-olivier{
    width: 350px;
    height: 430px;
    border: 1px solid black;
    text-align: center;
    color: white;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(92,121,9,1) 51%, rgba(236,246,210,1) 100%);
    
}
.card-olivier h1{
    margin:1rem;
    text-transform: uppercase;
}
.card-olivier img{
    width: 110px;
    height: 100px;
    border:1px solid white;
}
.card-olivier p{
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* fin code Olivier */

/*debut code céline*/
#card-celine{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px rgb(33, 47, 240);
    border-top: 10px solid  yellow ;
}

#imgceline{
    border-radius: 50%;
    width: 80px;
    margin: 10px;
}

#h1celine{
    font-weight: lighter;
    margin-left: 150px;
    margin-top: -40px;
}

#pceline{
    margin: 5px;
}
/*fin code céline*/

/* SHEIMA */
#carteSheima { 
    border-top: 10px solid yellow;
}
/* FIN SHEIMA */

/* ############### */
/* DEBUT CODE AXEL */
/* ############### */

#card-av {
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid purple;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

#img-av {
    border-radius: 50%;
    width: 70px;
}

#name-av {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 5px black;
}

#div-name-av {
    display: block;

}

#name-av:hover {
    animation-name: animNDP;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animNDP {
    0%{
        text-shadow: 0px 0px 6px black;
    }
    100%{
        text-shadow: 0px -3px 7px grey;
        font-size: 28px;
    }
}

/* ############# */
/* FIN CODE AXEL */
/* ############# */


/* JESSICA */
#card-jess { 
    width: 350px;
    border: 5px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid purple;
    min-height: 250px;
    padding: 10px;
    margin: 40px;
}
  
#img-jess2 {
  border-radius: 50%;
    width: 70px;
    margin: 10px;
}

#h1-jess3{
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -30px;
    text-align: center;
} 

.p-jess4{
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 18px;
    text-align: center;

}
/* FIN JESSICA */


/* ############## */
/* DEBUT CODE EMI */
/* ############## */

.cardemi {
    width: 350px;
    border: 1px solid teal;
    box-shadow: 1px 1px 3px #888;
    border-top: 30px solid teal;
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;
}

#titreemi{
    color: #A42F85;
    text-shadow: 1px 2px 2px #A4108B;
}

#explicationemi {
    color: #C80581;
}

/* ############ */
/* FIN CODE EMI */
/* ############ */


/* PIERRE GIROU */

#pierregirou h1 {
  color: blue;
}

#pierregirou p {
    color: blue;
}

#pierregirou {
    background: aqua;
}

/* FIN PIERRE GIROU */

#taille {
    width: 250px;
    margin: 20px;
}


/* ################# */
/* DEBUT CODE MATHIS */
/* ################# */

.mathis{
  
    width: 350px;
    border: 1px solid green;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid rgb(122, 0, 0);
    border-bottom: 10px solid rgb(122, 0, 0);
    border-left: 10px solid rgb(255, 72, 0);
    border-right: 10px solid rgb(255, 72, 0);
    min-height: 250px;
    padding: 10px;

    margin-top:10px;
    margin-bottom: 10px;

}

/* ############### */
/* FIN CODE MATHIS */
/* ############### */


/* ################ */
/* DEBUT CODE CHRIS */
/* ################ */

.chrisCard {
    width: 350px;
    border: 1px solid lightgray;
    box-shadow: 1px 4px 5px #00DDFF;
    border-top: 18px solid rebeccapurple;
    min-height: 250px;
    padding: 10px;
    border-radius: 6px;
}

.chrisCard .centered {
    text-align: center;
}

.chrisCard span {
    text-decoration: underline lightblue;
}

.chrisCard p {
    text-align: justify;
    margin-top: 20px;
    text-indent: 1.6em;
}

.chrisCard h1:hover {
    color: darkblue;

}

.chrisCard h1 {
    margin-top: -60px;
}

.chrisCard .centered img:hover {
    box-shadow: 5px 5px 5px #00DDFF;
}

.chrisCard hr {
    border: 1px solid rebeccapurple;
    border-radius: 5px;
}

/* ############## */
/* FIN CODE CHRIS */
/* ############## */


/* ############## */
/* DEBUT CODE XAV */
/* ############## */


#xav {
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/50/f1/fa/50f1facc8b7e54cdcfb782d11e6ce15d.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-color: purple;
    width: 350px;
    max-height: 250px;
    text-shadow: 2px 2px white;
}
/* ############ */
/* FIN CODE XAV */
/* ############ */


/* ################# */
/* DEBUT CODE KYLIAN */
/* ################# */

#kylianCard{
    width: 350px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://4kwallpapersimages.com/wp-content/uploads/2017/12/7K-Wallpaper-Black-Goku-Dragon-Ball-Super-8k-800x600.jpg");
    background-color: black;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid darkred;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
    text-shadow: 1px 1px 12px red;
    color: orange;
    margin: 10px;

    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
}

/* Carte de Marc */
.card-marc{
    border-color: blue;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    border-radius: 7px;
    background-image: url('https://resize-parismatch.ladmedia.fr/r/940,628,center-middle/img/var/news/storage/images/paris-match/vivre/voyage/top-5-les-meilleures-stations-pour-partir-a-la-montaggne-cet-ete-1311686/21801974-3-fre-FR/Top-5-les-meilleures-stations-pour-partir-a-la-montagne-en-ete.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

.card-marc h1{
    margin-top: 0;
    margin-left: 0;
}

.card-marc img{
    width: 50%;
    border: solid 4px grey;
    animation: appear 2.5s ease-in;
}

.card-marc img:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;

}

@keyframes appear{
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.card-marc p{
    text-align: justify;
    background-color: rgba(40,40,40,0.5);
    width: calc(100%-10px);
    margin: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
}

/* Fin Carte de Marc */

/* ############### */
/* FIN CODE KYLIAN */
/* ############### */


/* ################### */
/* DEBUT CODE RODRIGUE */
/* ################### */

#rodrigue{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid rgb(77, 58, 88);
    min-height: 250px;
    padding: 10px;
    margin: 10px;
    background: #1C6EA4;
    text-shadow: 4px 4px 14px purple;
}

/* ################# */
/* FIN CODE RODRIGUE */
/* ################# */


/* MICKAEL */

#mickael{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid blue;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

/* FIN MICKAEL */

/* EMICATT */
#marteau{
    width: 350px;
    border: 2px solid rgb(3, 25, 39);
    box-shadow: 1px 1px 3px #888;
    border-top: 30px solid rgb(49, 71, 97);
    min-height: 350px;
    padding: 20px;
    margin: 20px;
}
/* FIN EMICATT */


/* ################# */
/* DEBUT CODE CEDRIC */
/* ################# */

#cedric img {
    width: 100px; 
}

#cedric h1 {
    text-align: center;
    color: blue;
}

#cedric p {
    margin-top: 55px;
    text-align: center;
    color: green;
}

/* ############### */
/* FIN CODE CEDRIC */
/* ############### */


/* ################### */
/* DEBUT CODE BAPTISTE */
/* ################### */

.baptiste{
    border: 1px solid #FF8C00;
    width: 350px;
    box-shadow: 1px 1px 3px #888;
    border-top: 30px solid #FF8C00;
    min-height: 350px;
    padding: 20px;
    margin: 20px;
}

/* ################# */
/* FIN CODE BAPTISTE */
/* ################# */


/* ################ */
/* DEBUT CODE ELODY */
/* ################ */

.elodycard{
    width: 350px;
    border: 5px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid purple;
    min-height: 250px;
    padding: 10px;
    margin: 40px;
}

/* ############## */
/* FIN CODE ELODY */
/* ############## */

/* ############## */
/* CODE HAMZA PROMO 03*/
/* ############## */
#hamza{
    border: solid 2px black ;
    width: 400px;
    margin: 20px;  
    box-shadow: 4px 4px 3px rgb(126, 126, 126);
}
#hamza:hover{
    box-shadow: 4px 4px 3px white;
    transition-duration: 1s ;
}
#hamza img{
    height: auto;
    width: 100px;

}

/* ############## */
/* FIN DE CODE HAMZA */
/* ############## */


/* ################ */
/* DEBUT CODE ESTHER */
/* ################ */

.cardEsther{
    width: 350px;
    background-color: rgb(188, 238, 108);
    border: 1px dotted rgb(6, 58, 36);
    box-shadow: 1px 3px 3px rgb(37, 196, 58);
    border-top: 10px solid rgb(6, 141, 119);
    padding: 10px;
    margin: 10px;
    text-shadow: 1px 2px 12px rgb(41, 40, 40);
    color: rgb(4, 51, 28);
     line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height:250px;
}

.cardEsther h1{
    padding-right:100px;
}


/* ################ */
/* FIN CODE ESTHER */
/* ################ */

