.card{
    width: 350px;
    border: 1px solid gray;
    box-shadow: 1px 1px 3px #888;
    border-top: 10px solid green;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}
#carte {    border-top: 10px solid yellow;

}
    
img{
    border-radius: 50%;
    width: 70px;
    margin: 10px;
    
    
}
#taille {

    width: 250px;
    margin: 20px;


}

h1{
    font-weight: lighter;
    margin-left: 100px;
    margin-top: -70px;
    text-align: center;

}

p{
    margin: 10px;
    font-family: segoe ui;
    line-height: 1.4em;
    font-size: 1.2em;
    text-align: center;
;

    
}

#mainbox{
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}