/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */



/* ################ */
/* DEBUT CODE Florencia*/
/* ################ */
#Florencia h1 {
  font-family: 'Times New Roman', Times, serif;
  color: #a4108b;
  font-size: xx-large;
  text-align: center;
}
#Florencia p {
  color: palevioletred;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
/* ################ */
/* FIN CODE Florencia */
/* ################ */


/* Début code Olivier */
.card-olivier {
  width: 350px;
  border: 1px solid black;
  text-align: center;
  color: white;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(92, 121, 9, 1) 51%,
    rgba(236, 246, 210, 1) 100%
  );
}
.card-olivier h1 {
  margin: 1rem;
  text-transform: uppercase;
}
.card-olivier img {
  width: 110px;
  height: 100px;
  border: 1px solid white;
}
.card-olivier p {
  padding: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* fin code Olivier */

/*debut code céline*/
#card-celine {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px rgb(33, 47, 240);
  border-top: 10px solid yellow;
}

#imgceline {
  border-radius: 50%;
  width: 80px;
  margin: 10px;
}

#h1celine {
  font-weight: lighter;
  margin-left: 150px;
  margin-top: -40px;
}

#pceline {
  margin: 5px;
}
/*fin code céline*/

/* SHEIMA */
#carteSheima {
  border-top: 10px solid yellow;
}
/* FIN SHEIMA */

/* ############### */
/* DEBUT CODE AXEL */
/* ############### */

#card-av {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
}

#img-av {
  border-radius: 50%;
  width: 70px;
}

#name-av {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 0px 0px 5px black;
}

#div-name-av {
  display: block;
}

#name-av:hover {
  animation-name: animNDP;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes animNDP {
  0% {
    text-shadow: 0px 0px 6px black;
  }
  100% {
    text-shadow: 0px -3px 7px grey;
    font-size: 28px;
  }
}

/* ############# */
/* FIN CODE AXEL */
/* ############# */

/* JESSICA */
#card-jess {
  width: 350px;
  border: 5px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

#img-jess2 {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

#h1-jess3 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -70px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -30px;
  text-align: center;
}

.p-jess4 {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 18px;
  text-align: center;
}
/* FIN JESSICA */

/* PIERRE GIROU */

#pierregirou h1 {
  color: blue;
}

#pierregirou p {
  color: blue;
}

#pierregirou {
  background: aqua;
}

/* FIN PIERRE GIROU */



/* ################# */
/* DEBUT CODE MATHIS */
/* ################# */

.mathis {
  width: 350px;
  border: 1px solid green;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid rgb(122, 0, 0);
  border-bottom: 10px solid rgb(122, 0, 0);
  border-left: 10px solid rgb(255, 72, 0);
  border-right: 10px solid rgb(255, 72, 0);
  min-height: 250px;
  padding: 10px;

  margin-top: 10px;
  margin-bottom: 10px;
}

/* ############### */
/* FIN CODE MATHIS */
/* ############### */

/* ################ */
/* DEBUT CODE CHRIS */
/* ################ */

.chrisCard {
  width: 350px;
  border: 1px solid lightgray;
  box-shadow: 1px 4px 5px #00ddff;
  border-top: 18px solid rebeccapurple;
  min-height: 250px;
  padding: 10px;
  border-radius: 6px;
}

.chrisCard .centered {
  text-align: center;
}

.chrisCard span {
  text-decoration: underline lightblue;
}

.chrisCard p {
  text-align: justify;
  margin-top: 20px;
  text-indent: 1.6em;
}

.chrisCard h1:hover {
  color: darkblue;
}

.chrisCard h1 {
  margin-top: -60px;
}

.chrisCard .centered img:hover {
  box-shadow: 5px 5px 5px #00ddff;
}

.chrisCard hr {
  border: 1px solid rebeccapurple;
  border-radius: 5px;
}

/* ############## */
/* FIN CODE CHRIS */
/* ############## */

/* ############## */
/* DEBUT CODE XAV */
/* ############## */

#xav {
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/50/f1/fa/50f1facc8b7e54cdcfb782d11e6ce15d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: purple;
  width: 350px;
  max-height: 250px;
  text-shadow: 2px 2px white;
}
/* ############ */
/* FIN CODE XAV */
/* ############ */

/* ################# */
/* DEBUT CODE KYLIAN */
/* ################# */

#kylianCard {
  width: 350px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://4kwallpapersimages.com/wp-content/uploads/2017/12/7K-Wallpaper-Black-Goku-Dragon-Ball-Super-8k-800x600.jpg');
  background-color: black;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid darkred;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  text-shadow: 1px 1px 12px red;
  color: orange;
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

/* ############### */
/* FIN CODE KYLIAN */
/* ############### */

/* ################### */
/* DEBUT CODE RODRIGUE */
/* ################### */

#rodrigue {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid rgb(77, 58, 88);
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  background: #1c6ea4;
  text-shadow: 4px 4px 14px purple;
}

/* ################# */
/* FIN CODE RODRIGUE */
/* ################# */

/* MICKAEL */

#mickael {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid blue;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
}

/* FIN MICKAEL */

/* EMICATT */
#marteau {
  width: 350px;
  border: 2px solid rgb(3, 25, 39);
  box-shadow: 1px 1px 3px #888;
  border-top: 30px solid rgb(49, 71, 97);
  min-height: 350px;
  padding: 20px;
  margin: 20px;
}
/* FIN EMICATT */

/* ################# */
/* DEBUT CODE CEDRIC */
/* ################# */

#cedric img {
  width: 100px;
}

#cedric h1 {
  text-align: center;
  color: blue;
}

#cedric p {
  margin-top: 55px;
  text-align: center;
  color: green;
}

/* ############### */
/* FIN CODE CEDRIC */
/* ############### */

/* ################### */
/* DEBUT CODE BAPTISTE */
/* ################### */

.baptiste {
  border: 1px solid #ff8c00;
  width: 350px;
  box-shadow: 1px 1px 3px #888;
  border-top: 30px solid #ff8c00;
  min-height: 350px;
  padding: 20px;
  margin: 20px;
}

/* ################# */
/* FIN CODE BAPTISTE */
/* ################# */



.cardRomain {
  width: 350px;

  border: 1px dotted rgb(6, 7, 58);
  border-top: 10px solid rgb(42, 6, 141);
  padding: 10px;
  margin: 10px;

  line-height: 1.4em;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*#################*/
/*DEBUT CODE BASILE*/
/*#################*/

.cardBasile {
  width: 400px;
  height: 300px;
  background-color: brown;
  border: 3px mediumslateblue;
  border-top: mediumslateblue;
  padding: 10px;
  margin: 10px;
  text-shadow: 1px 2px 12px rgba(2, 0, 36, 1);
  color: royalblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 250px;
}

.cardBasile h1 {
  padding-right: 100px;
}

/*#################*/
/*FIN CODE BASILE*/
/*#################*/



/* SHEIMA */
#carteSheima {
  border-top: 10px solid yellow;
}
/* FIN SHEIMA */


/* ############## */
/* DEBUT CODE EMI */
/* ############## */

.cardemi {
  width: 350px;
  border: 1px solid teal;
  box-shadow: 1px 1px 3px #888;
  border-top: 30px solid teal;
  min-height: 200px;
  padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
}

#titreemi {
  color: #a42f85;
  text-shadow: 1px 2px 2px #a4108b;
}

#explicationemi {
  color: #c80581;
}

/* ############ */
/* FIN CODE EMI */
/* ############ */



/* ################ */
/* DEBUT CODE RONAN*/
/* ################ */

.cardRonan {
  width: 400px;
  background-color: lightgray;
  border: 7px solid #000000;
  margin-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

/* ################ */
/* FIN CODE RONAN*/
/* ################ */

/*###################*/
/*DEBUT DU CODE JEAN*/
/*###################*/

.card-jean {
  background-color: lightgreen;
  font-family: 'Lucida Sans';
  text-align: center;
  width: 350px;
  min-height: 300px;
  border-top: 10px solid forestgreen;
  text-shadow: 1px 2px 12px rgb(41, 40, 40);
  margin: 10px;
  padding: 10px;
  font-size: x-large;
  border-bottom: 5px solid forestgreen;
}
.image-jean {
  float: left;
}
.h1-jean {
  margin-top: 30px;
}
/*#########################*/
/*FIN CODE JEAN*/
/*#########################*/



/*###################*/
/*DEBUT DU CODE julien*/
/*###################*/

.cardJulien{
    width: 350px;
    border: 1px solid black;
    text-align: center;
    color: white;
    background: rgb(122, 0, 0);
    margin: 15px;
}



/*#########################*/
/*FIN CODE julien*/
/*#########################*/
/* ################# */
/* DEBUT CODE ANTHONY */
/* ################# */

.antho{
  
    width: 350px;
    border: 1px solid green;
    box-shadow: 1px 1px 3px #888;
    border-top: 5px solid rgb(235, 203, 23);
    border-bottom: 5px solid rgb(235, 203, 23);
    border-left: 5px solid rgb(109, 201, 4);
    border-right: 5px solid rgb(109, 201, 4);
    min-height: 250px;
    padding: 5px;
    background-position: center;
    background-image: url("assets/ricketmorty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 10px;
    margin-bottom: 10px;
   
}

.antho:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;

}

.antho h1{

    font-family: 'Calibri', sans-serif;
    color: rgb(6, 20, 51);
    position: relative;
    display: flex;
    flex-direction: column;
}
.antho p{
    
    text-align: center;
    font-family: 'Calibri', sans-serif;
    color: rgb(6, 20, 51);
    position: relative;
    vertical-align: text-bottom;
    
}


/* ################## */
/* FIN CODE ANTHONY   */
/* ################## */

