/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}



.header {
  background-color: purple;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: purple;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header span,
.footer span {
  font-size: 1.5em;
  font-weight: bold;
}

/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */

/* ################### */
/* DEBUT CODE Alexandre */
/* ################### */

.avatar img {
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#alexandre .avatar:hover img {
  transform: scale(1.1);
}

/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */
