/* ################### */
/* DEBUT CODE ORIGINEL */
/* ################### */

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card {
  width: 350px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid purple;
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

#david {
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  border: 1px solid rgb(58, 97, 226);
  background: linear-gradient(rgb(255, 255, 255), rgb(207, 207, 207));
  border-radius: 25% 10%;
  box-shadow: 1px 1px 3px #2886dd;
  border-top: 10px solid rgb(1, 24, 68);
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -30px;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
}

.header img {
  width: 200px;
}

.footer {
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 100px;
}

.header span,
.footer span {
  font-size: 1.5em;
  font-weight: bold;
}

/* ################# */
/* FIN CODE ORIGINEL */
/* ################# */

/* Time to shine */

/* ################### */
/* DEBUT CODE Alexandre */
/* ################### */

#alexandre .avatar img {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

#alexandre .avatar:hover img {
  transform: scale(1.1);
}

/* ################# */
/* FIN CODE Alexandre */
/* ################# */

/* ################### */
/* DEBUT CODE Mathieu */
/* ################### */

@keyframes rotating {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}


.avatarmath img {
  animation-duration: 0.5s;
  animation-name: rotating;
  animation-iteration-count: infinite;
}

#mathieu {
  color: #000000;
  text-shadow: 0 0 7px #000000,
    0 0 10px #000000,
    0 0 42px rgb(34, 0, 185),
    0 0 77px rgb(34, 0, 185),
    0 0 100px rgb(34, 0, 185)
}

/* ################### */
/* DEBUT CODE Melyne*/
/* ################### */

#Melyne {
  width: 350px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 1px 1px 3px #de05f1;
  border-top: 10px solid rgb(0, 2, 128);
  min-height: 250px;
  padding: 10px;
  margin: 40px;
}

/* ################# */
/* FIN CODE Melyne*/
/* ################# */